
div.menu {
  text-align: center;
  background-color:  #0e0642a9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: #2F4F4F;
  display: flex;
  justify-content: space-around;
}
nav#menu>a {
    transition: 1s;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
  }
  .active {
    color: #ffffff;
    background-color: #0aec0aea;
    border-radius: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    margin: auto;
  }
  a {
    color: rgba(0, 0, 255, 0.541);
    text-decoration: none;
    font-weight: bold;
  }
  a.linke:hover {
    background-color: rgb(224, 178, 178);
  }
  h5{
    text-align: center;
    background-color: aquamarine;
  }
  p {
    background-color: azure;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  h2.um {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    text-align: center;
  }
  h4 {
    background-color: #0e064200;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:red;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
footer {
  display: block;
  background-image: url(./Imagem.png/img-footer.jpg);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}