header{
    background-color: aquamarine;
}

nav#menu>a {
    transition: 1s;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
  }
  .active {
    color: #ffffff;
    background-color: #0d0e0dea;
    border-radius: 8px;
    padding: 5px;
    text-align: left;
  }
  a {
    color: rgba(0, 0, 255, 0.541);
    text-decoration: none;
    font-weight: bold;
  }
  a.link:hover {
    background-color: whitesmoke;
  }
  nav#menu > a:hover{
    background-color: #3ef805da;
  }
    div.menu {
        background-image: url(./Imagem.png/img-into-header.jpg);
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  div.dica {
    text-align: center;
    background-color: aquamarine;
    
  }
  h2{
    text-align: center;
    background-color: aquamarine;

  }

  h4 {
    background-color: rgba(245, 245, 220, 0.466);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:black ;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    
}
span#abaixoh1 {
    visibility: hidden;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:white ;
    background-color: #0000CD;
    text-decoration: underline;
    padding-right: 60px;
}
h1#instrucoes {
    
    color: rgb(76, 233, 14);
    text-align: center;
}
footer {
    display: block;
    background-image: url(./Imagem.png/img-footer.jpg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
footer>div>span#footer {
    color:aliceblue;
    display: block;
    text-align: center;
}