/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DO HEADER
  ----------------------------------------------------------------------------------------------------------------*/
header {
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #2F4F4F;
    display: flex;
    justify-content: space-around;
}
  /*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DAS SECTION
  ----------------------------------------------------------------------------------------------------------------*/
  section {
    padding-top: 5px;
    background-image: url(./Imagem.png/img-body.jpg);
    padding-left:5px;
    padding-right:5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
  }
  /*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DAS nav
  ----------------------------------------------------------------------------------------------------------------*/
  nav#menu>a {
    transition: 1s;
    font-weight: bold;
    margin-left: 2px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
  }

  #menu{
    display: flex;
    justify-content: space-between;
  }
  .active {
    text-transform: uppercase;
    margin: 0 10px;
    color: #ffffff;
    background-color: #313a31ea;
    border-radius: 8px;
    padding: 8px;
  }
  nav#menu > a:hover{
    background-color: #4caa2fda;
  }
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DAS DIVS
  ----------------------------------------------------------------------------------------------------------------*/
  
  div#centralizar {
   
    
  }
  div.menu {
    text-align: left;
    background-color: #0e0642a9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  div#span {
    background-color: #ed0000e2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 36px;
}


div.primeira {
    background-color: #1000ed7e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.segunda {
    background-image: url(./Imagem.png/bet7k.jpg);
    background-color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.terceira {
    background-image: url(./Imagem.png/999kkae.jpg);
    background-color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.quarta {
    background-color: #97ac24;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
   
    padding: 50px;
    color: white;
}
div.quinta {
    background-image: url(./Imagem.png/strike777.jpg);
    background-color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;

    padding: 50px;
    color: white;
}
div.sexta {
    background-color: #0fe0e073;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.setima {
    background-color: #d213e485;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.oitava {
    background-color: #2f4f4f96;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.nona {
    background-color: #2b4b4bd7;
    font-family: Arialrgb(62, 150, 150)tica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.decima {
    background-color: #37743a80;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.decimaprimeira {
    background-color: #9ea72193;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.decimasegunda {
    background-color: #d33418a2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.decimaterceira {
    background-color: #2e5f29a2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div.decimaquarta {
    background-color: #e2e611a2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: justify;
    border-radius: 5%;
    
    padding: 50px;
    color: white;
}
div#img {
    display: block;
    text-align: center;
 }
 div.primeira {
    color: white;
}
div.primeira:hover {
    a#link-um {
        visibility: visible;
         color: white;
    }
}
div.primeira{
    background-image: url(./Imagem.png/imgown777.jpg);
}
div.segunda:hover {
    a#link-dois {
        visibility: visible;
         color: white;
    }
}
div.terceira:hover {
    a#link-tres {
        visibility: visible;
         color: white;
    }
}
div.quarta:hover {
    a#link-quatro {
        visibility: visible;
         color: white;
    }
}
div.quinta:hover {
    a#link-cinco {
        visibility: visible;
         color: white;
    }
}
div.sexta:hover {
    a#link-seis {
        visibility: visible;
         color: white;
    }
}
div.setima:hover {
    a#link-sete {
        visibility: visible;
         color: white;
    }
}
div.oitava:hover {
    a#link-oito {
        visibility: visible;
         color: white;
    }
}
div.nona:hover {
    a#link-nove {
        visibility: visible;
         color: white;
    }
}
div.decima:hover {
    a#link-dez {
        visibility: visible;
         color: white;
    }
}
div.decimaprimeira:hover {
    a#link-onze {
        visibility: visible;
         color: white;
    }
}
div.decimasegunda:hover {
    a#link-doze {
        visibility: visible;
         color: white;
    }
}
div.decimaterceira:hover {
    a#link-treze {
        visibility: visible;
         color: white;
    }
}
div.decimaquarta:hover {
    a#link-treze {
        visibility: visible;
         color: white;
    }
}
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DOS a (LINKS)
  ----------------------------------------------------------------------------------------------------------------*/
a#link-um {
    color: orange;
    font-weight: bold;
}
a#link-dois {
    color: black;
    font-weight: bold;
}
a#link-tres {
    color: rgb(80, 80, 221);
    font-weight: bold;
}
a#link-quatro {
    color:#DC143C;
    font-weight: bold;
}
a#link-cinco {
    color:#FFD700;
    font-weight: bold;
}
a#link-seis {
    color:rgb(255, 239, 239);
    font-weight: bold;
}
a#link-sete {
    color:wheat;
    font-weight: bold;
}
a#link-oito {
    color:#9cd86471;
    font-weight: bold;
}
a#link-nove {
    color:#cd5200;
    font-weight: bold;
}
a#link-dez {
    color:#cdca00;
    font-weight: bold;
}
a#link-onze {
    color:#7c0153;
    font-weight: bold;
}
a#link-doze {
    color:#030203;
    font-weight: bold;
}
a#link-treze {
    color:#4343f8ef;
    font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DOS STRONGS
  ----------------------------------------------------------------------------------------------------------------*/

strong#probabilidade {
    color: rgb(255, 242, 0);
    text-decoration: underline;
    font-style: oblique;
    font-weight: bold;
}
strong#atencao {
    color: rgb(255, 255, 0);
    text-decoration: underline;
}
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DOS STRONGS
  ----------------------------------------------------------------------------------------------------------------*/
  a#own777 {
    color: #DAA520;
  }
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DAS IMAGENS
  ----------------------------------------------------------------------------------------------------------------*/
div#img {
    margin: 30px 30px 0px;
    width:min-content
}
img#img1 {
    width: 250px;
    height: 90px;
    margin: 1px;
    padding: 0px;
}

#imagem {
        height: max-content;
        width:max-content;
        display:block;
        text-align: center;
}
img#img-footer {
    display: block;
}
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DOS TÍTULOS (H1,H2,ETC...)
  ----------------------------------------------------------------------------------------------------------------*/
h4 {
    background-color: #0e064200;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:rgba(245, 9, 9, 0.973) ;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    
}
h2 {
    text-align: center;
}
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DO BODY
  ----------------------------------------------------------------------------------------------------------------*/
body {
    left: 0;
    padding-top:40px;
    display:block;
    text-align:center;
    padding: auto;
    width: 100%;
    min-width: 300px;
}
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DAS SECTION
  ----------------------------------------------------------------------------------------------------------------*/
section {
    
    padding-top: 5px;
    background-image: url(./Imagem.png/img-body.jpg);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}
/*------------------------------------------------------------------------------------------------------------------
    EDIÇÃO DOS SPAN
  ----------------------------------------------------------------------------------------------------------------*/
span#abaixoh1 {
    visibility: hidden;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:white ;
    background-color: #0000CD;
    text-decoration: underline;
    padding-right: 60px;
}

span#p-um {
    color: yellow;
}
span#r-um {
    color:#DAA520;
    font-weight:bold;
}
span#b-um {
    color:#DAA520;
    font-weight:bold;
}
span#d-um {
    color:#edab07;
    font-weight:bold;
}
span#s-um {
    color:yellow;
    font-weight:bold;
}
span#p-dois {
    color: yellow;
}
span#r-dois {
    color:yellow;
    font-weight:bold;
}
span#b-dois {
    color:yellow;
    font-weight:bold;
}
span#d-dois {
    color:yellow;
    font-weight:bold;
}
span#s-dois {
    color:yellow;
    font-weight:bold;
}
span#p-tres {
    color: rgb(32, 246, 4);
}
span#r-tres {
    color:yellow;
    font-weight:bold;
}
span#b-tres {
    color:yellow;
    font-weight:bold;
}
span#d-tres {
    color:yellow;
    font-weight:bold;
}
span#s-tres {
    color:yellow;
    font-weight:bold;
}
span#p-quatro {
    color: rgb(12, 246, 4);
}
span#r-quatro {
    color:yellow;
    font-weight:bold;
}
span#b-quatro {
    color:yellow;
    font-weight:bold;
}
span#d-quatro {
    color:yellow;
    font-weight:bold;
}
span#s-quatro {
    color:yellow;
    font-weight:bold;
}
span#p-cinco {
    color: red;
}
span#r-cinco {
    color:yellow;
    font-weight:bold;
}
span#b-cinco {
    color:yellow;
    font-weight:bold;
}
span#d-cinco {
    color:yellow;
    font-weight:bold;
}
span#s-cinco {
    color:yellow;
    font-weight:bold;
}
span#p-seis {
    color: rgb(4, 246, 4);
}
span#r-seis {
    color:yellow;
    font-weight:bold;
}
span#b-seis {
    color:yellow;
    font-weight:bold;
}
span#d-seis {
    color:yellow;
    font-weight:bold;
}
span#s-seis {
    color:yellow;
    font-weight:bold;
}
span#p-sete {
    color: rgb(12, 246, 4);
}
span#r-sete {
    color:yellow;
    font-weight:bold;
}
span#b-sete {
    color:yellow;
    font-weight:bold;
}
span#d-sete {
    color:yellow;
    font-weight:bold;
}
span#s-sete {
    color:yellow;
    font-weight:bold;
}
span#p-oito {
    color: rgb(12, 246, 4);
}
span#r-oito {
    color:yellow;
    font-weight:bold;
}
span#b-oito {
    color:yellow;
    font-weight:bold;
}
span#d-oito {
    color:yellow;
    font-weight:bold;
}
span#s-oito{
    color:yellow;
    font-weight:bold;
}
span#p-nona{
    color:rgb(12, 246, 4);
    font-weight:bold;
}
span#r-nona{
    color:yellow;
    font-weight:bold;
}
span#b-nona{
    color:yellow;
    font-weight:bold;
}
span#d-nona{
    color:yellow;
    font-weight:bold;
}
span#s-nona{
    color:yellow;
    font-weight:bold;
}

span#p-dez{
    color:orange;
    font-weight:bold;
}
span#r-dez{
    color:yellow;
    font-weight:bold;
}
span#b-dez{
    color:yellow;
    font-weight:bold;
}
span#d-dez{
    color:yellow;
    font-weight:bold;
}
span#s-dez{
    color:yellow;
    font-weight:bold;
}
span#p-onze{
    color:rgba(34, 238, 7, 0.849);
    font-weight:bold;
}
span#r-onze{
    color:yellow;
    font-weight:bold;
}
span#b-onze{
    color:yellow;
    font-weight:bold;
}
span#d-onze{
    color:yellow;
    font-weight:bold;
}
span#s-onze{
    color:yellow;
    font-weight:bold;
}
span#p-doze{
    color:rgb(94, 255, 0);
    font-weight:bold;
    text-decoration:underline;
}
span#r-doze{
    color:yellow;
    font-weight:bold;
}
span#b-doze{
    color:yellow;
    font-weight:bold;
}
span#d-doze{
    color:yellow;
    font-weight:bold;
}
span#s-doze{
    color:yellow;
    font-weight:bold;
}
span#p-treze{
    color:red;
    font-weight:bold;
    text-decoration:underline;
}
span#r-treze{
    color:yellow;
    font-weight:bold;
}
span#b-treze{
    color:yellow;
    font-weight:bold;
}
span#d-treze{
    color:yellow;
    font-weight:bold;
}
span#s-treze{
    color:yellow;
    font-weight:bold;
}
span#p-quatorze{
    color:rgba(34, 238, 7, 0.849);
    font-weight:bold;
    text-decoration:underline;
}
span#r-quatorze{
    color:yellow;
    font-weight:bold;
}
span#b-quatorze{
    color:yellow;
    font-weight:bold;
}
span#d-quatorze{
    color:yellow;
    font-weight:bold;
}
span#s-quatorze{
    color:yellow;
    font-weight:bold;
}
span {
    font-size: small;
    text-align:center;
}


footer {
    display: block;
    background-image: url(./Imagem.png/img-footer.jpg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
footer>div>span#footer {
    color:aliceblue;
    display: block;
    text-align: center;
}